.formulario{
    width:100%;
}
.elemento{
    background: #232931;
    color:#738598;
	width: 80%;
	text-align: center;
}

.conBorde{
    width:80%;
}


.botonera{
    text-align:center;
}

#boton_registro{

    font-size: 13px;
    vertical-align:middle;
    font-weight:bold;
    height:36px;
    border-radius:5px;
}