<!--
  Generated template for the HilosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>hilos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: #232931">
    <h3 class="titulo">Manuales</h3>

    <ion-list *ngFor = "let mensajes of listam" class="manuales">
      <ion-card class="hilo" color="secondary">
        <ion-card-content>
          <div class="perfil_hilo"><img src={{mensajes.icono}} class="img_perfil"/></div>
          <div class="comentario">{{mensajes.mensaje}}</div>
        </ion-card-content>        
      </ion-card>
    </ion-list>
    
    
    

</ion-content>

<ion-footer>
    <form (ngSubmit)="add(f.value)" #f="ngForm">
        <textarea ng-model="string"  type="text" placeholder="Nuevo mensaje" name="mensaje" ngModel style="width:100%;"></textarea>
        <button ion-button block type="submit" [disabled]="!f.valid">Mandar</button>
      </form>
</ion-footer>
