.perfil_hilo{
    width:20%;
    margin:0 auto;
    display:inline-block;
    
}

.comentario{
    width:68%;
    margin:0 auto;
    display:inline-block;
}

.hilo{
    text-align:center;
    //height:10%;
}

.img_perfil{
    height:100%;
}