.formulario{
    width:100%;
}
.elemento{
    width: 80%;
    margin: 0 auto;
}

.conBorde{
    margin: 0 auto;
    border: 1px solid black;
    width:80%;
}

.botones{
    width:40%;
    margin: 0 auto;    
    display: inline-block;
}

.botonera{
    text-align:center;
}
.botoncito{
    width: 17.6%;
    font-size: 8pt;
    font-weight:bold;
 }
#boton_cancelar{
    background-color: rgb(193,41,41);
    font-size: 15px;
    vertical-align:middle;
    font-weight:bold;
    height:36px;
    border-radius:5px;
}