
.botoncito{
   width: 17.6%;
   font-size: 8pt;
   font-weight:bold;
}
.imagen{
    width:10%;
    float: left;
    height: 10%;
}
.mensaje{
    width:90%;
    float: right;
    font-size: 9pt;
}
.titulo{
    color: #79848d;
    text-align: center;
}
.titulo1{
    color: #79848d;
}