.formulario{
    width:100%;
}
.elemento{
    background: #232931;
    color:#738598;
	width: 80%;
	text-align: center;
}

.conBorde{
    
    width:80%;
}

.botones{
    width:40%;
    margin: 0 auto;    
    display: inline-block;
}

.botonera{
    text-align:center;
}

#boton_cancelar{
    background-color: rgb(193,41,41);
    font-size: 15px;
    vertical-align:middle;
    font-weight:bold;
    height:36px;
    border-radius:5px;
}